<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>NAVIGATION</title> 
  <link rel="stylesheet" href="css/content.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

</head>

<body>

<div class="blur_overlay"></div>
  <div class="vertical-waves">
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
  </div>


<div class="header">
         <div class="header">
    <a href="{% url 'index' %}">
      <div class="header_icon">
        <img src="{% static 'images/home_page.png' %}">
        <p>A CLUB</p>
      </div>
    </a>
    <a href="{% url 'favourited' %}">
      <div class="header_icon">
        <img src="{% static 'images/fav.png' %}">
        <p>Севимли</p>
      </div>
    </a>
    <a href="{% url 'profile' %}">
      <div class="header_icon">
        <img src="{% static 'images/profile.png' %}">
        <p>Профиль</p>
      </div>
    </a>
    <a href="{% url 'chat' %}">
      <div class="header_icon active">
        <img src="{% static 'images/chat.png' %}">
        <p>Чатлар</p>
      </div>
    </a>
  </div>
    </div>


  <div class="search_block">
    <a href="index.html"><div class="back_button"></div></a>
    <form class="searcher">
      <img class="search_icon" src="images/search icon.png">
      <input class="searcher_block" placeholder="Поиск...">
    </form>
  </div>

  <div class="choosed_genre"><span class="red">A </span>GENRE:</div>  

  <div class="content_body">
    <!-- Контент будет добавлен через JS -->
  </div>


  <script src="script.js"></script>
  <script src="content_script.js"></script>


<script>
  document.addEventListener("DOMContentLoaded", () => {
    const overlay = document.querySelector('.blur_overlay');

    // После загрузки — убираем размытие
    requestAnimationFrame(() => {
      overlay.classList.remove("active");
    });

    // При клике — показываем размытие, затем переходим
    document.querySelectorAll('.header a').forEach(link => {
      link.addEventListener('click', e => {
        e.preventDefault();
        const href = link.getAttribute('href');

        overlay.classList.add('active');

        setTimeout(() => {
          window.location.href = href;
        }, 300); // ⏱ 0.3 сек
      });
    });
  });
</script>



</body>
</html>
