{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Чаты – A CLUB</title>

  <!-- Стили -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'css/content.css' %}" />

  <!-- Шрифты -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet" />
</head>

<body>

<!-- Блюр -->
<div class="blur_overlay active"></div>

<!-- Анимированный фон -->
<div class="vertical-waves">
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
</div>

<!-- Навигация -->
<div class="header">
  <a href="{% url 'index' %}">
    <div class="header_icon">
      <img src="{% static 'images/home_page.png' %}">
      <p>A CLUB</p>
    </div>
  </a>
  <a href="{% url 'favourited' %}">
    <div class="header_icon">
      <img src="{% static 'images/fav.png' %}">
      <p>Севимли</p>
    </div>
  </a>
  <a href="{% url 'profile' %}">
    <div class="header_icon">
      <img src="{% static 'images/profile.png' %}">
      <p>Профиль</p>
    </div>
  </a>
  <a href="{% url 'chat' %}">
    <div class="header_icon active">
      <img src="{% static 'images/chat.png' %}">
      <p>Чатлар</p>
    </div>
  </a>
</div>


<!-- Контент -->
<div class="content_body">
  <a href="https://t.me/+rwXzCrytnP8wNWE6"><div class="chat_block big">A CLUB - TALKS</div></a>
  <a href="https://t.me/aclubsupport"><div class="chat_block little">Қуллаб-қувватлаш хизмати</div></a>
</div>

<!-- Снятие блюра -->
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const overlay = document.querySelector(".blur_overlay");
    requestAnimationFrame(() => {
      overlay.classList.remove("active");
    });

    document.querySelectorAll(".header a").forEach(link => {
      link.addEventListener("click", e => {
        e.preventDefault();
        const href = link.getAttribute("href");
        overlay.classList.add("active");
        setTimeout(() => window.location.href = href, 300);
      });
    });
  });
</script>

</body>
</html>
